
services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: microlearn
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  data-preparer:
    build:
      context: ./data-preparer
    container_name: data-preparer
    restart: always
    depends_on:
      - postgres
      - minio
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: microlearn
      DB_USER: postgres
      DB_PASSWORD: postgres

      MINIO_HOST: minio:9000
      MINIO_ACCESS: minioadmin
      MINIO_SECRET: minioadmin
    ports:
      - "8000:8000"

  nats:
    image: nats:2.9
    ports: ["4222:4222","8222:8222"]

  redis:
    image: redis:7
    ports: ["6379:6379"]

volumes:
  postgres_data:
  minio_data:
